.logo {
    font-family: 'DM Mono';
    color: white;
 }
 
 blockquote {
   color: #3498db; /* light blue text color */
   border-left: 4px solid #3498db; /* light blue border */
   padding-left: 20px;
   background-color: #f0f8ff; /* light blue background color, optional */
 }
 