{% extends "base.html" %}

{% block header %}
<header class="header">
  {{ macros::render_header() }}
</header>

{% block hero %}
<div class = "hero" style="position: relative;">
    <section style="padding:10px; max-width: 500px; color:#fff;">
        <h1 class="text-center heading-text">
            Mercury Layer, Bitcoin MPC layer 2 protocol, using blinded signatures.
        </h1>
        <h3 class="text-center title-text">
            Bitcoin Layer-2 scaling technology based on the concept of statechains.
            Blinded signing technology that blindly signs Bitcoin transactions.
        </h3>
    </section>
    <div>
        <video class="hero-video" style="border-radius: 100px; max-width: 80%;" muted playsInline autoPlay loop>
            <source
                src="mercury-loop-820px-q35.webm"
                type="video/webm"
            />
            <source
                src="mercury-loop-820px-q35.mp4"
                type="video/mp4"
            />
            <source
                src="mercury-loop-820px-q35.ogv"
                type="video/ogg"
            />
            Sorry, your browser doesn't support embedded videos.
        </video>
    </div>

    <div class="explore-more text"
        onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
        Explore More ⇩
    </div>
</div>
<style>
    .hero section {
        padding: 0 5rem;
    }
    @media screen and (max-width: 768px) {
        .hero section {
            padding: 0 2rem;
        }

        .hero-video {
            display: none
        }
       
    }
</style>
{% endblock hero %}

{% endblock header %}